.header-line__item{
    font-size: 24px;
    margin-right: 20px;
}
.header-line__item:hover{
    color: white;
    background-color: #DB3138;
    padding: 10px 20px;
}
.menu{
    position: relative;
}
.gamburger{
    position: absolute;
    right: 100px;
    width: 100px;

}
@media screen and (max-width: 1300px){
    .header-line__item{
        font-size: 70px;
        margin-bottom: 40px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        padding: 100px;
    }
}