*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    color: white;
    transition: all 0.3s;
}
a:hover{
    color: #DB3138;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: #141414;
}
button{
    background: none;
    border: 0;
}
.reset-right{
    margin-right: 0;
    right: 0;
}
.center-rhombus{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.center{
    display: flex;
    justify-content: center;
}
