.header{
    height: 800px;
    background-image: url("../../img/headerBg.png");
    padding-top: 40px;
    background-repeat: repeat;
    background-size: cover;
}
.header-line{
    display: flex;
    justify-content: space-around;
}
.header-line__item{
    font-size: 24px;
    margin-right: 20px;
}
.header-line__item:hover{
    color: white;
    background-color: #DB3138;
    padding: 10px 20px;
}